<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id="com.dynastar.mybestpistes"
        version="0.0.1">
    <name>MyBestPistes</name>
    <description>A social application to share information about ski pistes</description>
    <author email="ch4mp@c4-soft.com" href="http://cordova.io">Ch4mp</author>
    <content src="index.html" />
    <access origin="http://127.0.0.1*" />
    
    <preference name="phonegap-version"         value="3.1.0" />
    <preference name="target-device"            value="universal" />
    <preference name="fullscreen"               value="true" />
    <preference name="webviewbounce"            value="true" />
    <preference name="splashscreen"             value="screen" />
    <preference name="splashScreenDelay"        value="10000" />
    <preference name="android-minSdkVersion"    value="11" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"  value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/network" />
    
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
<!--     <gap:plugin name="com.phonegap.plugins.facebookconnect" > -->
<!--         <param name="APP_ID" value="..." /> -->
<!--         <param name="APP_NAME" value="..." /> -->
<!--     </gap:plugin> -->
    
</widget>
