<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id="com.dynastar.mybestpistes"
        version="0.0.1">
    <name>MyBestPistes</name>
    <description>A social application to share information about ski pistes</description>
    <author email="ch4mp@c4-soft.com" href="http://cordova.io">Ch4mp</author>
    <content src="index.html" />
    <access origin="*" />
    
	<icon src="www/res/icon/ios/icon-57.png" gap:platform="ios" width="57" height="57" />
	<icon src="www/res/icon/ios/icon-57_2x.png" gap:platform="ios" width="114" height="114" />
	<icon src="www/res/icon/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="www/res/icon/ios/icon-72_2x.png" gap:platform="ios" width="144" height="144" />
	<gap:splash src="www/res/screen/ios/screen-ipad-landscape.png" gap:platform="ios" width="1024" height="748" />
	<gap:splash src="www/res/screen/ios/screen-ipad-landscape_2x.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="www/res/screen/ios/screen-ipad-portrait.png" gap:platform="ios" width="768" height="1004" />
	<gap:splash src="www/res/screen/ios/screen-ipad-portrait_2x.png" gap:platform="ios" width="1536" height="2008" />
	<gap:splash src="www/res/screen/ios/screen-iphone-landscape.png" gap:platform="ios" width="480" height="320" />
	<gap:splash src="www/res/screen/ios/screen-iphone-landscape-2x.png" gap:platform="ios" width="960" height="640" />
	<gap:splash src="www/res/screen/ios/screen-iphone-portrait.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="www/res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" gap:platform="ios" width="640" height="1136" />

	<icon src="www/res/icon/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="www/res/icon/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="www/res/icon/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="www/res/icon/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="www/res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="www/res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="www/res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="www/res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
	
	<icon src="www/res/icon/windows-phone/icon-48.png" gap:platform="winphone" width="48" />
	<icon src="www/res/icon/windows-phone/icon-62-tile.png" gap:platform="winphone" gap:role="background" width="62" />
	<icon src="www/res/icon/windows-phone/icon-173-tile.png" gap:platform="winphone" gap:role="background" width="173" />
	<gap:splash src="www/res/screen/windows-phone/screen-portrait.jpg" gap:platform="winphone" />

    <preference name="phonegap-version"         value="3.1.0" />
    <preference name="target-device"            value="universal" />
    <preference name="fullscreen"               value="true" />
    <preference name="webviewbounce"            value="true" />
    <preference name="splashscreen"             value="screen" />
    <preference name="splashScreenDelay"        value="10000" />
    <preference name="android-minSdkVersion"    value="11" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"  value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/network" />
    
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
<!--     <gap:plugin name="com.phonegap.plugins.facebookconnect" > -->
<!--         <param name="APP_ID" value="..." /> -->
<!--         <param name="APP_NAME" value="..." /> -->
<!--     </gap:plugin> -->
    
</widget>
