<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dynastar.mybestpistes" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyBestPistes</name>
    <description>A social application to share information about ski pistes</description>
    <author email="ch4mp@c4-soft.com" href="http://cordova.io">Ch4mp</author>
    <content src="index.html" />
    <access origin="http://127.0.0.1*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="splashscreen" value="icon" />
    <preference name="splashScreenDelay" value="10000" />
    
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/network" />
    
    <cdv:plugin name="org.apache.cordova.camera" />
    <cdv:plugin name="org.apache.cordova.device" />
    <cdv:plugin name="org.apache.cordova.geolocation" />
    <cdv:plugin name="org.apache.cordova.globalization" />
    <cdv:plugin name="org.apache.cordova.network-information" />
    <cdv:plugin name="org.apache.cordova.splashscreen" />
    <cdv:plugin name="com.phonegap.plugins.facebookconnect" />
    
    <icon src="img/icon/mbp.png" />
</widget>
