<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Widget unit testing</title>

<script src="../../assets/www/lib/jquery-1.10.2/jquery-1.10.2.js"></script>
<script src="../../assets/www/lib/dot/doT.js"></script>

<!-- QUnit stuff -->
<link rel="stylesheet" href="../qunit-1.12.0.css">
<script src="../qunit-1.12.0.js"></script>
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="../../assets/www/js/slopes.js"></script>
    <script src="../../assets/www/js/view/Widget.js"></script>
    <script src="WidgetTest.js"></script>
</body>
</html>